---
import Layout from "../layouts/Layout.astro";
import { TestComponents } from '../components/TestComponents';
---

<Layout>
  <div class="container mx-auto py-8 px-4">
    <h1 class="text-3xl font-bold mb-8 text-center">Test Komponentów Dashboard</h1>
    <TestComponents client:load />
  </div>
</Layout>

